body{
    margin: 0; 
    font-family: Lato; 
    font-size: 18px;
    background: #2e354f;
}

header{
    padding: 20px;
    
}

.containerHeader{
    width: 620px;
    margin: 0 auto;
    
}
h1{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: white;
}

.section{
    display: flex;
    justify-content: center;
}

.section1{
    background: white;
}



.container{
    max-width: 620px;
}

.secondContainer{
    color: white;
}

h2{
    color: #EF5839;
    font-weight: bold;
    font-size: 24px;
}

.links{
     color: #EF5839;
    
}

.btn{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 15px 25px; 
    margin-right: 10px;
}

.firstbtn{
    color: white;
    background: #EF5839;
}

.secondbtn{
    color: black;
    background: white;
}

a:hover, a:focus{
    background: blue;
}